/*------
  reset
  ------*/
*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
/*-------
  common
-------*/
.container{
    max-width: 1330px;
    margin: auto;
}
/*-----
 header
 ---*/
 header{
    height: 70px;
    background-color: #FF6900;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.head-nav{
    display: flex;
    align-items: center;
    vertical-align: middle;
    
}
.categorie{
    display: flex;
    width: 30%;   
}
.gender{
   margin-right: 10px;
   color: white;
}
.logo-head{
    height: 70px;
    width: 40%;
    text-align: center;
}
.logo{
    width: 200px;
    padding-top: 10px;
}
.link-icon{
    width: 30%;
    text-align:right;
}
.link{
    color: white;
    margin-left: 10px;
}
/*-------------
   main----
   -------*/
.grid{
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image{
    position: relative;
}
.colonna{
    width: 425px;
    margin-bottom: 40px;
}
.favourite{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 4px;
    font-size: 25px;
}
.sconto{
    background-color: red;
    color: white;
    padding: 0px 10px;
    margin-right: 3px;
}
.mark{
    position: absolute;
    bottom: 50px;
}
.eco{
    background-color: green;
    color: white;
    padding: 0px 10px;
}
.photo{
    width: 425px;
}
.brand{
    font-size: 15px;
}
.price{
    font-size: 16px;
    color: red;
}
.model{
    font-size: 16px;
}
/*------
--footer-
-----*/
footer{
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0px;
}
.foot-nav{
    display: flex;
    justify-content: space-between;
}
.normative{
    display: flex;
    list-style: none;
    margin-top: 10px;
}
li{
    margin-right: 10px;
}
.informative{
    color: white;
    text-decoration: none;
}
.social{
    display: flex;
    list-style: none;
    margin-top: 10px;
}
.link-social{
    color: white;
    text-decoration: none;
}
i{
    color: white;
    font-size: 20px;
}